@model WebApplication10Jan20Country.Models.Shoe

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Shoe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShoeID" />
            <div class="form-group">
                <label asp-for="ShoeName" class="control-label"></label>
                <input asp-for="ShoeName" class="form-control" />
                <span asp-validation-for="ShoeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeColor" class="control-label"></label>
                <input asp-for="ShoeColor" class="form-control" />
                <span asp-validation-for="ShoeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeOrginCountry" class="control-label"></label>
                <select asp-for="ShoeOrginCountry" class="form-control" asp-items="ViewBag.ShoeOrginCountry"></select>
                <span asp-validation-for="ShoeOrginCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ShoeImage" type="hidden" class="form-control" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
